<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, user-scalable = no" />

<title>伪艺术家纽约行</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="/FakeArtist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/FakeArtist/css/fullScreen.css">
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript" src="/FakeArtist/js/ngTouch.min.js"></script>
<body ng-app="myApp" ng-controller="gamesCtrl">
	<div class="container">
		<h3 id="header">
			伪艺术家纽约行：
      <span ng-show="currentGame.stage==0">自由创作</span>
      <span ng-show="currentGame.stage==1">第一轮</span>
      <span ng-show="currentGame.stage==2">第二轮</span>
			<button class="btn btn-primary" style="float: right"
				data-toggle="modal" data-target="#ruleModal">
				<span class="glyphicon glyphicon-question-sign"></span>游戏规则
			</button>
			<button class="btn btn-primary" style="float: right"
				data-toggle="modal" data-target="#createGameModal">
				<span class="glyphicon glyphicon-repeat"></span>开始新游戏
			</button>
		</h3>
		<hr>
    <div>
		<div class="btn-group " data-toggle="buttons">
			<label class="btn btn-default"
			       ng-repeat="color in currentGame.toDrawColors"
			       ng-class="{active: color===currentGame.currentColor}"
			       ng-click="setCurrentColor(color)"
				style="color:{{color}}">
				<input type="radio">
				&#x2588;
			</label>
		</div>
        <button class="btn btn-primary" style="float: right"
				ng-click="undoDraw()">
				<span class="glyphicon glyphicon-repeat" style="transform: rotateY(180deg)"></span>
		    </button>
    </div>
		<hr>
    <div id="sketchpaddiv" ng-touchstart="drawStart($event)" ng-mousedown="drawStart($event)" 
         ng-touchmove="drawMove($event)" ng-mousemove="drawMove($event)" 
         ng-mouseleave="drawEnd($event)" ng-mouseup="drawEnd($event)" ng-touchend="drawEnd($event)">
		<svg id="sketchpad">
      <path ng-repeat="path in currentGame.paths" d="{{path.d}}" fill="none" stroke="{{path.c}}" stroke-width="2"></path>
		</svg>
    </div>
    <hr>
		<!-- Modal -->
		<div class="modal fade" id="createGameModal" tabindex="-1"
			role="dialog" aria-hidden="true"
			data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">创建游戏</h4>
					</div>
					<div class="modal-body">
						<p>
							<label for="ghostNum" class="col-md-3 control-label">伪艺术家数量</label>
						</p>
						<p>
						<div class="btn-group " data-toggle="buttons">
							<label class="btn btn-default btn-sm"
								ng-repeat="i in [] | range:4"
								ng-class="{active: {{i+1}}==newGame.ghostNum}"
								ng-click="setGhostNum(i+1)"> <input type="radio"
								ng-model="newGame.ghostNum" value="{{i+1}}"> {{i+1}}
							</label>
						</div>
						</p>
						<p>
							<label for="humanNum" class="col-md-3 control-label">真艺术家数量</label>
						</p>
						<p>
						<div class="btn-group " data-toggle="buttons">
							<label class="btn btn-default btn-sm"
								ng-repeat="i in [] | range:10"
								ng-class="{active: {{i+1}}==newGame.humanNum}"
								ng-click="setHumanNum(i+1)"> <input type="radio"
								ng-model="newGame.humanNum" id="{{i+1}}" value="{{i+1}}">
								{{i+1}}
							</label>
						</div>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm"
							data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary btn-sm"
							ng-click="gameNumSet()">下一步</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="setInfoModal" tabindex="-1" role="dialog"
			aria-hidden="true"
			data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">选择题目</h4>
					</div>
					<div class="modal-body">
						<p>
							<label>题目类型：</label> 
              <div class="btn-group " data-toggle="buttons">
                <label class="btn btn-default btn-sm"
                  ng-class="{active: newGame.randomGame==1}"
                  ng-click="setRandomGame(1)"> <input type="radio">
                  随机
                </label>
                <label class="btn btn-default btn-sm"
                  ng-class="{active: newGame.randomGame==0}"
                  ng-click="setRandomGame(0)"> <input type="radio">
                  自定义
                </label>
              </div>
						</p>
            <div ng-show="newGame.randomGame">
            <p>
							<label>类&emsp;别：</label> <input type="text"
								ng-model="newGame.category" disabled>
              <button class="btn btn-primary btn-sm" style="float: right"
                ng-click="setRandomGame(1)">
                <span class="glyphicon glyphicon-repeat"></span>
              </button>
						</p>
            </div>
            <div ng-show="!newGame.randomGame">
						<p>
							<label>类&emsp;别：</label> <input type="text"
								ng-model="newGame.category">
						</p>
						<p>
							<label>提示词：</label> <input type="text"
								ng-model="newGame.word">
						</p>
            </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm"
							ng-click="back2NumSet()">上一步</button>
						<button type="button" class="btn btn-primary btn-sm"
							ng-click="createGame()">创建游戏</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="ruleModal" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">游戏规则</h4>
					</div>
					<div class="modal-body">
						<div>
							<ol>
								<li>开始新游戏后，艺术家依次选定颜色并获得类别及提示词，然后把平板递给下一个玩家。伪艺术家只能看到类别。真艺术家获得的提示词一致。</li>
								<li>所有艺术家选定颜色并获得提示词后，依颜色顺序开始作画，每次仅能画一笔，然后递给下个玩家。</li>
								<li>每个艺术家各绘制2笔后，绘画结束。</li>
								<li>所有艺术家投票选出伪艺术家。</li>
								<li>若伪艺术家未被认出（未被最多人指认），则可与出题人共同获得2分。但若伪艺术家被认出，则该伪艺术家有一次猜题机会。若能猜对所绘内容，则可与出题者共同获得2分。否则，其他艺术家可各获得一分。</li>
							</ol>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm"
							data-dismiss="modal">我知道了</button>
					</div>
				</div>
			</div>
		</div>
    <!-- Modal -->
		<div class="modal fade" id="pickColorModal" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">选择玩家颜色</h4>
					</div>
					<div class="modal-body">
            <p>
							<label for="ghostNum" class="control-label">已选择颜色：</label>
						</p>
            <p>
						<div class="btn-group " data-toggle="buttons">
              <label class="btn btn-default"
                ng-repeat="color in newGame.pickedColors"
                style="color:{{color}}" disabled>
                <input type="radio" >
                &#x2588;
              </label>
            </div>
            </p>
            <p>
							<label for="ghostNum" class="control-label">可选择颜色：</label>
						</p>
            <p>
						<div class="btn-group " data-toggle="buttons">
              <label class="btn btn-default"
                ng-repeat="color in newGame.availableColors"
                ng-class="{active: color===newGame.pickedColor}"
                ng-click="pickColor(color)"
                style="color:{{color}}">
                <input type="radio">
                &#x2588;
              </label>
            </div>
            </p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm"
							ng-click="showWord()">我选好了</button>
					</div>
				</div>
			</div>
		</div>
    <!-- Modal -->
		<div class="modal fade" id="showWordModel" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">身份和提示词</h4>
					</div>
					<div class="modal-body">
            <h5>你的颜色：</h5>
            <p>
              &emsp;&emsp;&emsp;&emsp;<span style="color:{{newGame.pickedColor}}" > &#x2588; </span>
            </p>
            <h5>你的身份：</h5>
            <p>&emsp;&emsp;&emsp;&emsp;<span ng-show="newGame.currentIsGhost==1">伪</span><span ng-hide="newGame.currentIsGhost==1">真</span>艺术家</p>
					  <h5>你的提示词：</h5>
						<p>&emsp;&emsp;&emsp;&emsp;<span ng-show="newGame.currentIsGhost==1">X</span><span ng-hide="newGame.currentIsGhost==1">{{newGame.word}}</span></p>
						<h5>类别：</h5>
            <p>&emsp;&emsp;&emsp;&emsp;{{newGame.category}}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm"
							ng-click="nextPlayerPick()">按我，然后传给下一个人</button>
					</div>
				</div>
			</div>
		</div>
    <!-- Modal -->
		<div class="modal fade" id="drawRoundModel" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">艺术创作完啦！</h4>
					</div>
					<div class="modal-body">
            <h5>开始投票选出伪艺术家</h5>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm"
							data-dismiss="modal">我知道了</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="/FakeArtist/js/sketchpad.js"></script>
</body>
</html>

